.row {
  font-size:12px;
  line-height:20px;
  height:20px;
  border-bottom:1px solid #ccc;
  user-select:none;
}
button {
  position:fixed;
  bottom:10px;
  left:10px;
  background:black;
  color:white;
  border:0;
}
